<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>GetCity</servlet-name>
        <servlet-class>controller.GetCity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationStudent</servlet-name>
        <servlet-class>RegistrationStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Download</servlet-name>
        <servlet-class>Download</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentYear</servlet-name>
        <servlet-class>StudentYear</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentBranch</servlet-name>
        <servlet-class>StudentBranch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckUsername</servlet-name>
        <servlet-class>CheckUsername</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>app_bonafide</servlet-name>
        <servlet-class>app_bonafide</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Download_bonafide</servlet-name>
        <servlet-class>Download_bonafide</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>del_bonafide</servlet-name>
        <servlet-class>del_bonafide</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Upd_email</servlet-name>
        <servlet-class>Upd_email</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tg_d_pending</servlet-name>
        <servlet-class>tg_d_pending</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reset</servlet-name>
        <servlet-class>Reset</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerateMarksheet</servlet-name>
        <servlet-class>GenerateMarksheet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Download_paper</servlet-name>
        <servlet-class>Download_paper</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowPaper</servlet-name>
        <servlet-class>ShowPaper</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Test</servlet-name>
        <servlet-class>Test</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetCity</servlet-name>
        <url-pattern>/GetCity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationStudent</servlet-name>
        <url-pattern>/RegistrationStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Download</servlet-name>
        <url-pattern>/Download</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentYear</servlet-name>
        <url-pattern>/StudentYear</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentBranch</servlet-name>
        <url-pattern>/StudentBranch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckUsername</servlet-name>
        <url-pattern>/CheckUsername</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>app_bonafide</servlet-name>
        <url-pattern>/app_bonafide</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Download_bonafide</servlet-name>
        <url-pattern>/Download_bonafide</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>del_bonafide</servlet-name>
        <url-pattern>/del_bonafide</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Upd_email</servlet-name>
        <url-pattern>/Upd_email</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tg_d_pending</servlet-name>
        <url-pattern>/tg_d_pending</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reset</servlet-name>
        <url-pattern>/Reset</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerateMarksheet</servlet-name>
        <url-pattern>/GenerateMarksheet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Download_paper</servlet-name>
        <url-pattern>/Download_paper</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowPaper</servlet-name>
        <url-pattern>/ShowPaper</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Test</servlet-name>
        <url-pattern>/Test</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <display-name>EmailSendingWebApp</display-name>
    <context-param>
        <param-name>host</param-name>
        <param-value>smtp.gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>port</param-name>
        <param-value>587</param-value>
    </context-param>
    <context-param>
        <param-name>user</param-name>
        <param-value>developers.dpcoe@gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>pass</param-name>
        <param-value>lrvdpcoe2018</param-value>
    </context-param>
</web-app>
